body {
  background: linear-gradient(to bottom, #ffcccc 0%, #ccffcc 33%, #ccccff 66%);
  background-repeat: no-repeat;
}
.listsAndForm {
  border: solid 2px black;
  padding: 50px;
}
a {
  text-decoration: none;
}
#formSignIn,
#formSignUp,
#createNewTaskForm {
  width: fit-content;
}
.svg {
  width: 55%;
  min-height: 33%;
}

input:hover,
a:hover {
  background-color: #ffcccc;
}

input:user-valid {
  border: 2px solid green;
}

input:user-valid + span::before {
  content: "✓";
  color: green;
}

input:user-invalid {
  border: 2px solid red;
}

input:user-invalid + span::before {
  content: "✖";
  color: red;
}

.none {
  display: none !important;
}
#listOfTasks {
  min-width: 255px;
}
#dateBold {
  font-weight: bold;
}
.succes {
  display: block !important;
  color: green;
  background-color: #acffac;
  border: 3px solid green;
}
.echec {
  display: block !important;
  color: red;
  background-color: #ffacac;
  border: 3px solid red;
}
.custom-class:hover {
  background-color: #ffacac;
  color: white;
}

.custom-class:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#taskDisplayed {
  min-width: 300px;
}

@media screen and (max-width: 670px) {
  .d-flex {
    display: flex !important;
    flex-direction: column;
  }

  .svg {
    display: none;
  }
  #listOfTasks {
    max-width: 300px;
  }
  #sectionMyTasks {
    align-items: center;
  }
  .none {
    display: none !important;
  }
}
